.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card-img{
  resize: cover;
  width: 100%;
  min-height: 60%;  
}

.App-header {
  background-color: #414957;
  padding: 2%;
  margin-top: 4%;
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #393b42;
  padding: 4vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a:link{
  text-decoration: none;
}

.Form-element {
  display: block;
}



.sections{
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 195, 255);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* for every div object set height for every div object inside: 


  */

  overflow-x: hidden;

}


.sections .first{
  background-color: rgb(89, 89, 89);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections .third{
  background-color: rgb(89, 89, 89);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video{
  position: absolute;
  pointer-events: visible;
  cursor:default;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}

.sports-text{
  pointer-events: none;
  position: relative;
  cursor:default;
  font-size:  28vmax;

  color: rgba(255, 255, 255, 0.523);
  z-index: 2;
}

.now-text{
  pointer-events: none;
  position: relative;
  cursor:default;
  font-size:  28vmax;

  color: rgb(255, 255, 255);
  z-index: 2;
}

.home-text{
  pointer-events: none;
  position: relative;
  cursor:default;
  font-size:  28vmax;

  color: rgba(255, 255, 255, 0.264);
  z-index: 2;
}

.right{
  top: 50%;
  left: 50%;
}
.sections .second{
  max-height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sections .forth{
  max-height: 100%;
  background-color: gray;
}


.grey{
  background-color: gray;
}

.sections div {
  width: 100%;
  height: 100vh; 
  scroll-snap-align: start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
