.layout{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
        "img frame"
        "info frame";
}

.box{
    background-color: white;
    border: solid green 1px;
    border-radius: 3%;
    

    /* nested class for br */

    p{
       margin-top: 10px;
        color: gray;
        font-family: "Times New Roman", Times, serif;
    }
}

.dropdown{
    display: inline-block;
    position: relative;

}
